/* .BattleHTML {
  border: 2px solid red;
} */

.BattleBody {
  /* border: 2px solid green; */
  margin: 0;
  height: 100%;
  background: url(./Images/Battleship\ -\ Wallpaper\ front\ page\ 2.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.Header {
  /* border: 2px solid red; */
  display: flex;
  align-items:initial;
  justify-content: space-between;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 60px;
  top: 3%;
  left: 3%;
  margin: 0%;
}

#button1_exit {
  background-color: red;
  color: white;
  width: 35px;
  height: 35px;
  top: 3%;
  right: 3%;
}

#button1_exit:hover {
  cursor: pointer;
}

#gridTitle {
  border: 2px red solid;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 30px;
}

#gridTitle2 {
  border: 2px red solid;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 30px;
}

#container1 {
  border: 2px red solid;
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 12%; */
  
}

#container2 {
  border: 2px red solid;
  display:flex;
  flex-direction: column;
}

#container3 {
  border: 2px red solid;
  display:flex;
  flex-direction: column;
}

.playerBoard {
  display: grid;
  grid-template: repeat(10, 0fr)/repeat(10, 0fr);
  
}

.horizontal {
  border: solid black 3px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, .65);
  font-size: 30px;
  text-align: center;
  color: black;
}

.compBoard {
  /* border: solid green 2px; */
  display: grid;
  grid-template: repeat(10, 0fr)/repeat(10, 0fr);
}

.horizontal2 {
  border: solid black 3px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, .65);
  font-size: 30px;
  text-align: center;
  color: black;
}

.horizontal2:hover {
  cursor: crosshair;
}

.BattleLogContainer {
  border: 2px solid red;
  /* width: 100%; */
  padding: 0px 20px 20px 20px;
  flex-grow: 1;
}

#BattleLogHeader {
  border: 2px red solid;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.BattleLogContainer2 {
  border: 2px solid red;
  height: 100%;
}