body {
  background-image: url(./Images/Battleship\ -\ Wallpaper\ front\ page\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  color: white;
  font-size: 60px;
  position: fixed;
  top: 3%;
  left: 3%;
  margin: 0%;
}

#button {
  background-color: red;
  color: white;
  width: 35px;
  height: 35px;
  position: fixed;
  top: 3%;
  right: 3%;
}

#gridTitle {
  color: white;
  font-size: 30px;
  
}

#gridTitle2 {
  color: white;
  font-size: 30px;
}

#container1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12%;
  
}

#container2 {
  display:flex;
  flex-direction: column;
}

#container3 {
  display:flex;
  flex-direction: column;
}
.playerBoard {
  width: 500px;
  display: grid;
  grid-template: repeat(10, 0fr)/repeat(10, 0fr);
  
}

.horizontal {
  border: solid;
  border-color: black;
  border-width: 3px;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, .65);
  font-size: 30px;
  text-align: center;
  color: black;
}


.compBoard {
  display: grid;
  grid-template: repeat(10, 0fr)/repeat(10, 0fr);
}

.horizontal2 {
  border: solid;
  border-color: black;
  border-width: 3px;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, .65);
  font-size: 30px;
  text-align: center;
  color: black;
}

