* {
  margin: 0;
}

.BodyIdx {
  /* border: solid red 2px; */
  background: url(./Images/Battleship\ -\ Wallpaper\ front\ page\ 1.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

h1 {
  display: flex;
  justify-content: right;
  color: white;
  font-size: 80px;
  position: relative;
  padding: 5% 5% 5% 20px;
}


#button_home {
  background-color: #27178d;
  position: fixed;
  float: right;
  font-size: 27px;
  color: white;
  border-radius: 20px;
  width: 250px;
  height: 80px;
  right: 10%;
}

#button_home:hover {
  cursor: pointer;
}
